apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: rocketchat-alertmanager-config
  namespace: monitoring
  labels:
    app.kubernetes.io/name: alertmanager
spec:
  route:
    groupBy: ['alertname', 'severity']
    groupWait: 10s
    groupInterval: 10s
    repeatInterval: 1h
    receiver: 'rocketchat-webhook'
    routes:
    - matchers:
        - name: severity
          value: "critical"
      receiver: 'email-notifications'
      continue: true
    - matchers:
        - name: severity
          value: "warning"
      receiver: 'email-notifications'
      continue: true

  receivers:
  - name: 'email-notifications'
    emailConfigs:
    - to: 'REPLACE_WITH_YOUR_EMAIL@gmail.com'
      from: 'alerts@yourdomain.com'
      smarthost: 'smtp.gmail.com:587'
      authUsername: 'REPLACE_WITH_YOUR_EMAIL@gmail.com'
      authPassword:
        name: 'alertmanager-smtp'
        key: 'password'
      sendResolved: true
      requireTLS: true

  - name: 'rocketchat-webhook'
    webhookConfigs:
      - url: 'https://<YOUR_DOMAIN>/hooks/68d1f706fcb9489bcd5d7d07/wDtoAHhAAPfnerGDfGEt8Cnw4pvK5dPwGYJxF28HDDMBiPGC'
        sendResolved: true
        maxAlerts: 5
